.buttondisplay{
  display:flex;
  justify-content: space-between;
}

.add{
  width:50%;
  margin-left: 300px;
}
#submit{
  margin-left: 300px;
}
.update{
  width:50%;
  margin-left: 300px;
}
.delete{
  width:50%;
  margin-left: 300px;
}
