#name{
  display: flex;
  margin-top: 100px;
  margin-left: 550px;
}
#password{
  margin-left: 550px;
}
#button{
  margin-left: 620px;
}
#username{
  padding-right: 200px;
}
.form-group{
  width:50%;
  margin-left: 280px;
}
button{
  margin-left: 500px;
}
h1{
  margin-left: 400px;
}
